h1 {
    text-align: center;
}
.jumbotron {
  height: 100%;
  border-radius: 50px;
  background-color: #095079;
}
.buttons {
  background-color: #4f4f4f;
  padding:1%;
  margin-top: 0;
  margin-bottom: 0;
  border-radius: 50px
}
.circle {
    border-radius: 50%/50%; 
    width: 200px;
    height: 200px;
    background: black;
    margin: 0 auto;
}
.off {
  background: black;
}
.on {
  background: red;
}

body {
  background-color: #E9E9E9;
}

.button {
  cursor:pointer;
}

p {
  text-align: center;
}

/* section 3 */

@media screen and (min-width: 544px) {
  .bigButton {
    font-size: 1.8em;
  }

  .mediumButton {
    font-size: 1.8em;
  }

  .mediumTitle {
    font-size: 1.8em;
  }

  .mediumValue {
    font-size: 1.8em;
  }
}

@media screen and (max-width: 544px) {
  .part3 h1 {display: none;}
  .part4 h1 {display: none;}
  .bigButton {
    font-size: 1em;
  }

  .mediumButton {
    font-size: 1em;
  }

  .mediumTitle {
    font-size: 1em;
  }

  .mediumValue {
    font-size: 1em;
  }

}

.bigButton {
  background-color: #FF9900;
  border-radius: 5px;
  color: white;
  padding: 2em;
  text-align: center;
  margin-top:2em;
  cursor:pointer;
}

.mediumButton {
  background-color: #FF9900;
  border-radius: 5px;
  color: white;
  padding: 1em 0;
  text-align: center;
  margin: 0.5em 0;
  width: 100%;
  cursor:pointer;
}

.mediumTitle {
  text-align: center; 
}

.mediumValue {
  text-align: center; 
}


#graph {
  text-align: center
}
.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 60%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}

.bulb {
  text-align: center;
  margin: auto;
}
.bulb svg{
  width: 150px;
  height: 150px;
}

.legend {
  fill:black;
}
.bar {
  fill: blue;
}

.axis path,
.axis line {
  fill: none;
  stroke: #424242;
  stroke-width: 3px;
  shape-rendering: crispEdges;
}

.axis text {
  font-size: 1.8em;
  fill: #424242;
}

.min_line {
  stroke: blue;
  stroke-width: 3px;
}

.max_line {
  stroke: red;
  stroke-width: 3px;
}

#messages {
  /*color:white;*/
}

#messages ul {
  border: 1px solid black;
}

#messages li {
  border: 1px solid black;
}

.line {
  fill: none;
  stroke: #3299BB;
  stroke-width: 3px;
}

