h1 {
    text-align: center;
}

.jumbotron {
  height: 100%;
  border-radius: 50px;
  background-color: #075D79;
}
.buttons {
  background-color: #4f4f4f;
  padding:120px;
  margin-top: -33px;
  margin-bottom: -33px;
  border-radius: 50px
}
.circle {
    border-radius: 50%/50%; 
    width: 50px;
    height: 50px;
    background: black;
    margin: 0 auto;
}

.off {
  background: black;
}
.on {
  background: red;
}

body {
  background: black;
}
.button {
  cursor:pointer;
}

p {
  text-align: center;
}

#belowButtons {
  color:white;
    text-align: center;
}