<!DOCTYPE html>
<html>
<head>
 <link rel="stylesheet" href="{{ url_for('static', filename='style/bootstrap/css/bootstrap.css') }}">

 <!-- make it mobile friendly: -->
 <meta name="viewport" content="width=device-width, initial-scale=1">

 <!-- my own css: -->
  <link rel="stylesheet" href="{{ url_for('static', filename='style/main.css') }}">
</head>
<body>
  <div class="jumbotron">
    <div class="container">
      <div class="row">
         <p>The current temperature is... <span class="current_temperature"></span>!</p>
         <div class="TemperatureButton">
              <button type="button" class="btn btn-default btn-lg">Off</button>
         </div>
      </div>
    </div>
  </div>

  <script scr="text/javascript" src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="{{ url_for('static', filename='js/scripts_3.js') }}"></script>
</body>
</html>