<!DOCTYPE html>
<html>
<head>
 <link rel="stylesheet" href="{{ url_for('static', filename='style/bootstrap/css/bootstrap.css') }}">

 <!-- make it mobile friendly: -->
 <meta name="viewport" content="width=device-width, initial-scale=1">

 <!-- my own css: -->
  <link rel="stylesheet" href="{{ url_for('static', filename='style/main.css') }}">
</head>
<body>
  <div class="container part3">
    <div class="row">
      <div class="col-md-12">
        <h1>Temperature sensor</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class='bigButton' id='temperatureBtn'>
          <!-- <div></div> -->
          <div id="current_temperature">Get temperature</div>
        </div>
      </div>
      <div class="col-md-12">
        <div class='miniButton' id='graphBtn'>
          <div>
          what about a graph?
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-2 col-xs-12">
      </div>
      <div class="col-md-6 col-sm-8 col-xs-12">
        <div id='graphdiv'>
          <div id='graph'> </div>
        </div>
      </div>
    </div>
  </div>


  <script scr="text/javascript" src="{{ url_for('static', filename='js/jquery-2.2.1.min.js') }}"></script>
  <script scr="text/javascript" src="{{ url_for('static', filename='js/d3.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/graph.js') }}"></script>
  <script src="{{ url_for('static', filename='js/scripts_3.js') }}"></script>
</body>
</html>