<!DOCTYPE html>
<html>
<head>
  <!-- <link rel="stylesheet" href="{{ url_for('static', filename='style/bootstrap/css/bootstrap.css') }}"> -->
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
  <script scr="text/javascript" src="{{ url_for('static', filename='js/jquery-2.2.1.min.js') }}"></script>
  <script scr="text/javascript" src="{{ url_for('static', filename='js/d3.min.js') }}"></script>
  <script scr="text/javascript" src="{{ url_for('static', filename='js/socket.io-1.4.5.js') }}"></script>
  <!-- <link rel="stylesheet" href="{{ url_for('static', filename='style/main.css') }}"> -->
</head>
<body>
  <div>
    <button id='btn'> here </button>
    <div id='messages'>
      <ul>

      </ul>
    </div>
  </div>

  <script src="{{ url_for('static', filename='js/scripts_5.js') }}"></script>
</body>
</html>