
body {
  background: #ffffff;
/*  background: -moz-radial-gradient(center, circle cover, white 0%, #f6f6f6 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, white), color-stop(100%, #f6f6f6));
  background: -webkit-radial-gradient(center, circle cover, white 0%, #f6f6f6 100%);
  background: -o-radial-gradient(center, circle cover, white 0%, #f6f6f6 100%);
  background: -ms-radial-gradient(center, circle cover, white 0%, #f6f6f6 100%);
  background: radial-gradient(center, circle cover, white 0%, #f6f6f6 100%); */
  background-color: #ffffff;
}

.reveal pre code {
	/*font-size: 0.9em;*/
}

.reveal section img {
  border: 0;
  box-shadow: none;
}
